#drag-file {
    background-color: #202225;
    color: white;
    text-align: center;
    height: 331px;
    border-radius: 9px;
}

body{
  background-color: #2c3037;
}

label{
  font-size: 1rem;
  text-decoration: none;
  color: #FFF;
}

button#anadir {
    float: right;
}
div#gallery-train {
    margin-top: 7%;
}

div#select-images {
    margin-top: 55px;
}
img#img-thumb{
  width: 100px;
  height: 100px;
}

a#new-dataset-button {
    background-color: #2a2c2d;
}
a#load-dataset-button {
    background-color: #2a2c2d;
}
/* form styles */
.basictxt {
  display: block;
  padding: 7px 8px;
  width: 550px;
  color: #555;
  font-size: 1.5em;
  border: 1px solid #ccc;
  font-family: Helvetica, Arial, sans-serif;
}
button#directori-train,button#directori-test {
    height: 40px;
    width: 38px;
    background-image: url("images/folder.png");
}
canvas#myChart {
    display: block;
    width: 31%;
    height: 400px;
}

div#charts1 {
      float: left;
      display: block;
      margin-top: 5%;
      margin-left: 7%;
      width: 31%;
      height: 400px;
}
div#charts2 {
      float: left;
      display: block;
      margin-top: 5%;
      margin-left: 17%;
      width: 31%;
      height: 400px;
}
div#dataset{
  display: none;
  margin-top: 3%;
}

/**********Estil botons***************/
/* GENERAL BUTTON STYLING */
.btn-3,
.btn-3::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-3 {
  background: none;
    border: 3px solid #fff;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 1em;
    /* font-weight: bold; */
    margin: 1em auto;
    padding: 0.5em 1em;
    position: relative;
    text-transform: uppercase;
}

.btn-3::before,
.btn-3::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

.btn-3:hover {
  color: #2ecc71;
}

/* BUTTON 1 */
.btn-1::after {
  height: 0;
  left: 0;
  top: 0;
  width: 100%;
}

.btn-1:hover:after {
  height: 100%;
}

/* BUTTON 2 */
.btn-2::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
}

.btn-2:hover:after {
  width: 100%;
}

/* BUTTON 3 */
.btn-3::after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}

.btn-3:hover:after {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

/* BUTTON 4 */
.btn-4::before {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.btn-4::after {
  background: #2ecc71;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.btn-4:hover:after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}

/* BUTTON 5 */
.btn-5 {
  overflow: hidden;
}

.btn-5::after {
  /*background-color: #f00;*/
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0;
}

.btn-5:hover:after {
  height: 100%;
  width: 135%;
}
/*************************************/

/***********Scroll********************/
.scrollbar
{
    height: 220px;
    width: 39%;
    background: #2c3037;
    overflow-y: scroll;
    float: left;
    margin-left: 1%;
    width: 39%;
    height: 228px;
}

.scrollbar-2
{
  height: 220px;
  width: 39%;
  background: #2c3037;
  overflow-y: scroll;
  float: left;
  margin-left: 15%;
  width: 39%;
  height: 228px;
}
.force-overflow
{
	min-height: 450px;
}

#wrapper
{
	text-align: center;
	width: 500px;
	margin: auto;
}

/*
 *  STYLE 1
 */

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #2c3037;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #2c3037;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
/*************************************/

/******************Menú***************/
@import 'https://fonts.googleapis.com/css?family=Roboto';
.side-menu {
  font-family: 'Roboto', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 13%;
  list-style-type: none;
  background: #1a1c1d;
  overflow: hidden;
  transition: width .5s;
}

.side-menu:hover {
  width: 13%;
}

.side-menu li {
  width: 100%;
}

.side-menu li span {
  font-size: 1rem;
  margin: 20px 30px 0 22px;
}

.side-menu li a {
  display: block;
  font-size: 1rem;
  text-decoration: none;
  color: #FFF;
  height: 67px;
}
section.content {
    margin-left: 12%;
}
.side-menu li a:hover,
.side-menu li:first-child a {
  background: #1f504e;
  display: block;
}
/*************************************/

/************Menu Dataset*************/
ul#dataset-ul {margin: 0;
  margin: 0;
margin-bottom: 3%;
background-color: #2c3037;
}

li#dataset-li {
  color: white;
  text-align: center;
  letter-spacing: 1px;
display: inline-block;
  width:60px;
padding: 20px;
border-bottom: solid;
  border-width: 5px;
  border-bottom-color: #2142A6;
}

li#dataset-li:hover {
  border-bottom: solid;
  border-bottom-color: #2953CF;
}

li#dataset-li:active {
  background-color: #1F3D99;
  border-width: 5px;
}


/*************************************/
